.job-list {
  list-style: none;

  li {
    width: 67.5rem;
    height: 7.5rem;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    align-items: center;


    .main-job-info {
      margin-left: 1rem;

      h2 {
        width: 20rem;
        color: $pink;
        font-size: 1rem;
        text-decoration: none;
        margin: 0;
      }
    }

    .job-modality {
      div {
        display: flex;
        align-items: center;

        img {
          height: 1.5rem;
        }

        ;
      }
    }

    .perks {
      display: flex;
      justify-content: flex-end;
      margin-right: 1rem;

      img {
        margin: .3rem;
      }
    }


  }
}