.navbar {
  background: #FFFF;
}

.navbar li {
  list-style: none;
}

.primary-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary-navbar img {
  width: 3.75rem ;
}

.primary-navbar ul {
  display: flex;
  font-weight: 700;
}

.secondary-navbar {
  display: flex;
  justify-content: flex-end;
}