.navbar {
  background: #FFFF;

  li {
    list-style: none;
  }

  .primary-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 3.75rem;
    }

    ul {
      display: flex;
      font-weight: 700;
    }
  }

  .secondary-navbar {
    display: flex;
    justify-content: flex-end;
  }
}