.job-title {
  width: 67.5rem;
  height: 10.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  .back-to-job-board {
    border: none;
    background: none;
    font-size: 1rem;
    color: $header-grey;

  }

  h2 {
    font-size: 1.875rem;
    line-height: 1.5;
    color: $header-grey;
  }
}

.company {
  width: 67.5rem;
  height: 14.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'company-name perks'
    'job-modality 0'
    'button 0';

  .company-name {
    grid-area: company-name;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h2 {
      color: $pink;
    }

    h3 {
      color: $header-grey;
    }
  }

  .perks {
    grid-area: perks;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
      margin: .3rem;
      width: 47.7px;
      height: 50px;
    }
  }

  .single-job-modality {
    grid-area: job-modality;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.2fr;
    font-size: .8rem;

    div {
      display: flex;
      align-items: center;
      color: $header-grey;

      img {
        height: 1.5rem;
        margin-right: .2rem;
      }
    }
  }

  button {
    grid-area: button;
    width: 113px;
    height: 39px;
    border: none;
    border-radius: 3px;
    background: $pink;
    color: $white;
    font-weight: 700;
    font-size: 1rem;
  }
}

main {
  background: $light-grey;

  h2 {
    font-size: 1.625rem;
    color: $header-grey;
    line-height: 3;
    margin-left: 1rem;
  }

  p {
    color: $header-grey;
  }

  .about-job {
    width: 67.5rem;
    height: 20rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;

    .about {
      width: 50rem;
      height: 100%;
      background: $white;

      p {
        margin: 0 0 1rem 1rem;
      }

      button {
        margin-left: 1rem;
        border: none;
        background: none;
      }
    }

    .warning {
      width: 15rem;
    }
  }

  .about-company {
    width: 67.5rem;
    height: 20rem;
    margin-top: 2rem;
    background: $white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
      'company img'
      'p img'
      'btn img';
      column-gap: 3rem;

    h2 {
      grid-area: company;
    }

    p {
      grid-area: p;
      margin: 0 0 1rem 1rem;
    }

    img {
      grid-area: img;
    }

    button {
      width: 219px;
      height: 39px;
      color: $pink;
      border: solid 3px $pink;
      border-radius: 3px;
      background: none;
      margin-left: 1rem;
    }
  }

  .similar-jobs {
    margin-top: 2rem;

    h2 {
      background: $white;
      margin: 0;
    }
  }
}